# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift / iOS
build/
DerivedData/
*.xcuserstate
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Archives
*.zip
*.xcarchive
*.dSYM

# Logs
*.log
*.tmp
*.swp